* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 50px;
}

.page-bg {
  background-image: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
.page-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.header {
  z-index: -1;
}
/* Applied to nav and content to maintain padding and margins equally */
.space {
  padding: 20px 30px;
  max-width: 1200px;
  margin: 0 100px;
}

.nav-container {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bolder;
}

.nav-bar {
  background-color: #222222;
}

.list-menu {
  display: inline-block;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 20px 15px 20px 15px;
  font-weight: normal;
}
.nav-link:hover {
  color: #ff0000;
}

.main-container {
  font-size: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.container-content {
  display: block;
  font-family: "Open Sans", sans-serif;
}

.container-content-para {
  color: #545554;
  line-height: 30px;
  word-spacing: 2px;
  letter-spacing: 2px;
}

.container-content-header {
  font-size: 25px;
  color: #222222;
  padding: 20px 0px;
}
