body {
  margin: auto;
}

.nav-bar .nav-container {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  padding-left: 0px;
}

.nav-bar a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
}

.nav-container {
  padding: 10px 0px;
}

.nav-container h1 {
  padding-left: 100px;
}

.nav-container ul {
  padding-right: 100px;
}

.nav-container li {
  display: inline-block;
}

.page-bg {
  background-image: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.main-container {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.container-content p {
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  word-spacing: 1.5px;
  letter-spacing: 2px;
  color: #555555;
}
.container-content h2 {
  margin: 30px 0px;
}
